<!DOCTYPE HTML>
<html>
    <head> 
    <title> Get Your Life Together </title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.navbar {
    overflow: hidden;
    background-color: #96CEF1;
    font-family: Courier
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
</style>
    </head>
    
    <body>
            <div class="navbar">
      <a href="/">Get Your Life Together</a>
      <a href="/advice">Advice</a>
      <div class="dropdown">
        <button class="dropbtn" onclick="myFunction()">School
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
          <a href="/todo">To-Do List</a>
          <a href="/resume">Resume</a>
          <a href="/study">Study Resources</a>
        </div>
      </div> 
      <div class="dropdown">
        <button class="dropbtn" onclick="myFunction1()">Health
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="health">
          <a href="/food">Food</a>
          <a href="/exercise">Exercise</a>
          <a href="/sleep">Sleep</a>
        </div>
      </div> 
      <div class="dropdown">
        <button class="dropbtn" onclick="myFunction2()">Trending
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="trending">
          <a href="/fashion">Fashion</a>
          <a href="/video">Video Games</a>
          <a href="/music">Music</a>
        </div>
      </div> 
    </div>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}

function myFunction1() {
    document.getElementById("health").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("health");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}

function myFunction2() {
    document.getElementById("trending").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("trending");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
}
</script>
<br><br><br>
<div id = "main"> 
       <h1 ><%=@name%></h1> 
       <h3> <%=@school%>     <%=@phone%>     <%=@email%> </h3>
    <hr width= 50%>
        
     <h2> Objective <br> </h2>   
     <h4> <%=@objective%> </h4>
     <h2> Skills <br> </h2>
     <h4> <%=@skills%> </h4>
     <h2> Experience <br> </h2>
     <h4> <%=@experience%> </h4>
     <h2> Education <br> </h2>
     <h4> <%=@education%> </h4>
     <h2> References </h2>
     <h4> <%=@references%> </h4>
    <style> 
        h1 {text-align: center} 
        h2 {color: #96CEF1}
        h3 {text-align: center}
        #main {margin: 100 px auto; border:5px #96CEF1 double }
    </style>
    </div>
    </body>





</html>
